.button{
    background: #7D75D8;
    color: white;
    width: 85px;
}
.center{

    display: block;
    text-align: center;
}
#body{
    background-color: rgb(178, 242, 242);
    width: 100%;
  margin: 0 auto;

}
.input{

    width: 350px;
    height: 40px;
}












  /* Default styles */
  /* .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  .input {
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
    margin-right: 0.5rem;
    width: 100%;
    max-width: 400px;
  }

  .button {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    background-color: #1E88E5;
    color: white;
    font-size: 1rem;
  } */

  /* Media queries */
  /* @media only screen and (min-width: 768px) {
    .section {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 4rem;
    }

    .center {
      margin-bottom: 0;
    }

    .input {
      width: auto;
      max-width: none;
    }
  } */
